* {
	box-sizing : border-box;
	
}

html, body, #root {
	height   : 100%;
	margin   : 0;
	padding  : 0;
	overflow : hidden;
}

body {
	background  : #EEE;
	
	font-family : Helvetica, Arial, sans-serif;
}

h1 {
	color       : #3B414C;
	font-size   : 20px;
	font-weight : 200;
}

ul {
	margin          : 0;
	padding         : 0;
	
	list-style-type : none;
}

.app {
	height      : 100%;
	background  : #84CDAD;
	white-space : nowrap;
	margin      : 10px;
}

.list {
	position       : relative;
	display        : inline-block;
	overflow       : auto;
	background     : #C0CEDC;
	width          : 33%;
	height         : 100%;
	padding        : 10px 20px;
	
	vertical-align : top;
	white-space    : normal;
}

.list:not(:last-child):after {
	position   : absolute;
	top        : 0;
	right      : 0;
	width      : 1px;
	height     : 99%;
	
	content    : "";
	
	background : linear-gradient(to bottom, #F1F 0%, #FF1 50%, #1FF 100%) fixed;
}

.card {
	z-index       : 1;
	overflow      : auto;
	width         : 100%;
	margin        : 0 0 10px 0;
	padding       : 10px 10px 10px 15px;
	border        : 1px solid #E5E5DF;
	border-radius : 3px;
	background    : #FFF;
	box-shadow    : 0 1px 0 rgba(0, 0, 0, 0.25);
	position      : relative;
	cursor        : pointer;
	
	transition    : all 200ms ease;
}

.card:hover {
	box-shadow : rgba(0, 0, 0, 0.3) 0 16px 16px 0;
}

.card_title {
	border-bottom : 10px solid transparent;
	font-weight   : bold;
	
}

.card_title:before {
	display : inline-block;
	
	width   : 1em;
	
	content : '>'
}

.card_title--is-open:before {
	content : '▽';
}

.checklist_task {
	padding : 10px 0;
}

.checklist_task input, .checklist_task label {
	cursor : pointer;
}

.checklist_task:first-child {
	margin-top  : 10px;
	padding-top : 10px;
	border-top  : dashed 1px #DDD;
}

.checklist_task--remove:after {
	display     : inline-block;
	margin-left : 5px;
	content     : 'x';
	color       : #D66;
}
