@charset "UTF-8";
* {
  box-sizing: border-box; }

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; }

body {
  background: #eee;
  font-family: Helvetica, Arial, sans-serif; }

h1 {
  color: #fff;
  font-size: 20px;
  font-weight: 200; }

ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }

.app {
  height: 100%;
  background: #c1c1c1;
  white-space: nowrap;
  padding: 50px; }

.list {
  position: relative;
  display: inline-block;
  overflow-y: auto;
  background: linear-gradient(to bottom right, #BBB 0%, #888 60%, #333 100%);
  width: 33%;
  min-height: 75%;
  max-height: 90%;
  padding: 10px 20px;
  margin-left: 10px;
  border-radius: 10px;
  vertical-align: top;
  white-space: normal;
  transition: all 200ms;
  cursor: pointer;
  box-shadow: 0px 0px 10px -1px #333; }
  .list:hover {
    box-shadow: 2px 2px 10px #333; }

.list:first-of-type {
  margin-left: -5px; }

.list:not(:last-child):after {
  position: absolute;
  top: 0;
  right: 0;
  height: 99%;
  width: 1px;
  content: ""; }

.card {
  z-index: 1;
  overflow: auto;
  width: 100%;
  margin: 0 0 10px 0;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  position: relative;
  cursor: pointer;
  transition: all 200ms ease; }
  .card:hover {
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.3); }

.toggle-enter {
  max-height: 0;
  overflow: hidden; }

.toggle-enter.toggle-enter-active {
  max-height: 300px;
  overflow: hidden;
  transition: max-height .25s ease-in; }

.toggle-leave {
  max-height: 300px;
  overflow: hidden; }

.toggle-leave.toggle-leave-active {
  max-height: 0;
  overflow: hidden;
  transition: max-height .25s ease-out; }

.card_details {
  margin-left: 10px; }

.card_title {
  padding: 15px;
  font-weight: 400;
  font-size: 1.2em;
  outline: none;
  color: #344;
  border-radius: inherit; }

.card_title:before {
  display: inline-block;
  margin-right: 10px;
  width: 1em;
  height: 1em;
  content: "►"; }

.card_title--is--open:before {
  width: 1em;
  height: 1em;
  content: '▼'; }

.checklist_task {
  padding: 10px 0; }

.checklist_task input, .checklist_task label {
  cursor: pointer; }

.checklist_task:first-child {
  margin-top: 10px;
  padding-top: 10px;
  border-top: dashed 1px #ddd; }

.checklist_task--remove:after {
  display: inline-block;
  margin-left: 5px;
  content: 'x';
  color: #d66; }

.checklist--add-task {
  border: 1px dashed #bbb;
  width: 90%;
  padding: 10px;
  font-size: 1em;
  margin: 10px 5%;
  border-radius: 3px; }

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.6); }

.card.big {
  position: absolute;
  overflow: hidden;
  width: 450px;
  height: 200px;
  margin: auto;
  padding: 15px;
  top: 0;
  right: 0;
  bottom: 100px;
  left: 0;
  z-index: 3; }

.card.big input[type=text], textarea {
  width: 100%;
  margin: 3px 0;
  font-size: 13px;
  border: none;
  outline: dashed thin #eee;
  outline-offset: 2px; }

.card.big input[type=text] {
  font-size: 20px;
  font-weight: bold; }

.card.big input[type=text]:focus,
.card.big textarea:focus {
  outline: dashed thin #999; }

.card.big label {
  margin: 3px 0 7px 3px;
  color: #a7a7a7;
  display: inline-block;
  width: 60px; }

.actions {
  margin-top: 10px;
  text-align: right; }

.card.big button {
  font-size: 14px;
  padding: 8px; }

.float-button {
  position: absolute;
  height: 56px;
  width: 56px;
  z-index: 2;
  right: 20px;
  bottom: 20px;
  background: #D43A2F;
  color: #FFF;
  border-radius: 100%;
  font-size: 34px;
  text-align: center;
  text-decoration: none;
  line-height: 50px;
  cursor: pointer;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.5);
  transition: 200ms; }
  .float-button:hover {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5); }

.card_edit {
  position: absolute;
  top: 15px;
  right: 10px;
  opacity: 0;
  transition: opacity .25s ease-in; }
  .card_edit a {
    text-decoration: none;
    color: #999;
    font-size: 17px; }

.card:hover .card_edit {
  opacity: 1; }

/*# sourceMappingURL=styles.css.map */
